/* Discover css started  */
.container2 {
  max-width: 35rem;
  margin: 3.6rem auto;
}
.plus_back {
  justify-content: space-between;
  font-size: 2.6rem;
}
.plus_back i {
  color: #000;
}
.disvr_title {
  justify-content: space-around;
  font-size: 1.8rem;
  margin: 2.4rem 0;
}
.discover_txt {
  color: #e24e59;
}
.dcvr_box_1 {
  background-image: url(img/ted.png);
}
.dcvr_box_2 {
  background-image: url(img/Gunther.png);
}
.dcvr_box_3 {
  background-image: url(img/Gunther.png);
}
.dcvr_box_4 {
  background-image: url(img/2f2.png);
}
.dcvr_box_5 {
  background-image: url(img/0.png);
}
.dcvr_box_6 {
  background-image: url(img/23.png);
}
.discover_box {
  background-size: cover;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 1.5rem;
}
.dcv_box_text {
  padding: 1.2rem;
  background-color: rgba(0, 0, 0, 0.521);
  color: #fff;
}
.dcv_name {
  font-size: 2rem;
}
.dcv_text {
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.377);
  margin: 0 0;
}
.discover_gallery {
  gap: 2rem !important;
}
.km_txt {
  font-size: 1.4rem;
  display: flex;
  justify-content: flex-end;
  color: rgba(255, 255, 255, 0.377);
}
.dcv_icons {
  font-size: 2.6rem;
  gap: 3rem;
  justify-content: center;
  z-index: 1;
}
.dcv_footer {
  padding: 2.4rem 0;
  background-color: #fff;
  margin-top: -7.2rem;
  z-index: 1;
}
footer {
  background-color: #fff;
  z-index: 1;
}
.dcvr_box_6,
.dcvr_box_5 {
  z-index: -1;
}
.dcv_icons :nth-child(4) {
  color: #e24e59;
}
/*  Discover page css code finished */

/* Discover profile css starts */
.dcvr_prof_img {
  background-image: url(img/ted.png);
  background-size: cover;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1.6rem;
  padding: 1.6rem;
  border-radius: 3.6rem;
}
.ted_name {
  color: #fff;
  font-size: 3.2rem;
}
.dcvr_list {
  display: flex;
  font-size: 2rem;
  flex-wrap: wrap;
  gap: 1.2rem;
}
.dcvr_list p {
  font-weight: 600;
  background-color: #fff;
  padding: 0.6rem 1.2rem;
  border-radius: 1.6rem;
}
.dcv_prof_icons {
  font-size: 3rem;
  color: #fff;
  display: flex;
  justify-content: center;
  gap: 1.4rem;
}
.dcv_prof_icons i {
  padding: 1.2rem;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -5rem;
  box-shadow: 0 0 0.5rem #e24e59;
}
.dcv_prof_icons i:first-child {
  background-color: green;
}
.dcv_prof_icons i:nth-child(2) {
  background-color: #fff;
  color: #e24e59;
}
.dcv_prof_icons i:nth-child(3) {
  background-color: #e24e59;
}
.dcvr_prof_text {
  margin-top: 6rem;
}
/*  Discover profile css code finished */

/*  Edit profile starts */
.top_icons {
  font-size: 2.4rem;
  justify-content: space-between;
  margin-bottom: 1.4rem;
}
.top_icons a {
  text-decoration: none;
}
.done {
  color: #e24e59;
}
.back_icon {
  color: #000;
}
.h2 {
  font-size: 2.6rem;
}
.ed_profile {
  background-color: #fffbf4;
  margin-top: 3rem;
  padding: 4rem 0;
}
.ed_profile_img {
  display: flex;
  justify-content: center;
  position: relative;
}
.ed_profile_img img {
  width: 15rem;
}
.edit_icon {
  position: absolute;
  color: #e24e59;
  background-color: #fff;
  box-shadow: 0 0 0.5rem #ee8a91;
  padding: 1rem;
  font-size: 2rem;
  border-radius: 50%;
  width: 2.2rem;
  height: 2.2rem;
  right: 9rem;
  bottom: 2rem;
}
.edit_names {
  gap: 3rem;
  margin-top: 6rem;
}
.ed_name_text {
  font-size: 1.8rem;
  justify-content: space-between;
}
.ed_footer {
  margin-top: 2rem;
}

/* My interests starts */
.interest_title {
  font-size: 3.2rem;
}
.my_interests {
  flex-wrap: wrap;
  gap: 1.6rem;
  margin: 4rem 1rem 8rem 1rem;
}
.my_interests p {
  font-weight: bold;
  font-size: 2.2rem;
  padding: 0.8rem 1.6rem;
  border: 0.01rem solid #ee8a91;
  border-radius: 1.5rem;
}
.my_interests p:nth-child(3),
.my_interests p:nth-child(6),
.my_interests p:nth-child(11),
.my_interests p:last-child {
  color: #fff;
  background-color: #e24e59;
}
.continue_btn {
  text-decoration: none;
  font-size: 2.4rem;
  color: #e24e59;
  font-weight: bold;
  max-width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  background-color: #f3bec2;
  border-radius: 1.5rem;
}

/* profile picture starts */
.profile_pictures {
  margin: 1.6rem 0 3rem 0;
  gap: 2rem;
  overflow-x: hidden;
}
.pr_pic_1 {
  position: relative;
}
.prof_edit {
  right: -1.5rem;
  bottom: 0;
}
.stickers {
  gap: 1rem !important;
  max-width: 100%;
  margin-top: 3rem;
}
.sticker_img {
  max-width: 10rem;
}
.sticker_img img {
  max-width: 100%;
  box-shadow: 0 0 0.5rem #df969b;
  border-radius: 2rem;
}

/*  settings starts */
.settings {
  margin: 2.4rem 0;
  gap: 2.4rem;
  font-size: 2.2rem;
}
.setting_box {
  display: flex;
  gap: 1.5rem;
}
.setting_box a {
  text-decoration: none;
}
.setting_box a,
.setting_box i {
  color: rgba(0, 0, 0, 0.774);
}

/*  Settings -2 starts */
.ctn_settings_2 h3 {
  font-size: 2rem;
}
.ctn_settings_2 p {
  font-size: 1.6rem;
}
.sett_box {
  padding: 1.5rem 0;
  border-top: 0.01rem solid rgba(0, 0, 0, 0.507);
}
.flex_between {
  justify-content: space-between;
  align-items: center;
}
.settings_2 {
  margin-top: 2rem;
}
.setting_long_text {
  margin-bottom: 1.5rem;
}
.setting_text {
  margin: 1.5rem 0 2rem 0;
}
.slidecontainer {
  margin-top: 1rem;
}
.slidecontainer {
  width: 100%;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 0.5rem;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 3rem;
  height: 3rem;
  background: #fff;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.753);
}

.slider::-moz-range-thumb {
  width: 3rem;
  height: 3rem;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.692);
}
.switch {
  position: relative;
  display: inline-block;
  width: 6rem;
  height: 3.2rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider_2 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider_2:before {
  position: absolute;
  content: "";
  height: 2.5rem;
  width: 2.5rem;
  left: 0.4rem;
  bottom: 0.4rem;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider_2 {
  background-color: #2196f3;
}

input:focus + .slider_2 {
  box-shadow: 0 0 0.1rem #2196f3;
}

input:checked + .slider_2:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider_2.round {
  border-radius: 3rem;
}

.slider_2.round:before {
  border-radius: 50%;
}
/* settings-2 finished */

/* Sign up starts */
.step_txt {
  font-size: 1.8rem;
  color: #e24e59;
}
.signup_title {
  margin-bottom: 2rem;
}
.social {
  max-width: 100%;
  font-size: 1.8rem;
  justify-content: space-between;
  border: 0.01rem solid rgba(0, 0, 0, 0.226);
  border-radius: 1.2rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.192);
  font-weight: bold;
  margin-bottom: 2.5rem;
}
.google {
  border: 0.01rem solid rgba(0, 0, 0, 0.226);
  background-color: #eef4ff;
  border-radius: 0 1.2rem 1.2rem 0;
  color: green;
}
.facebook,
.google {
  padding: 1.2rem 5.1rem;
}
.facebook {
  color: #3e6ab2;
}
.sign_up_section {
  font-size: 2rem;
}
.sign_up_section input {
  margin: 1.5rem 0 3rem 0;
  padding: 1.8rem 0.4rem;
  width: 97%;
  border-radius: 1.2rem;
  border: none;
  box-shadow: 0 0 0.3rem #e24e59;
}
.sign_up_section input::placeholder {
  font-size: 2rem;
  font-weight: bold;
  color: #000;
}
.sign_up_grid {
  justify-content: center;
  gap: 1.5rem !important;
  margin: 2rem 0 12rem 0;
}
.sign_footer {
  gap: 2rem;
  align-items: center;
  margin-top: 2rem;
  justify-content: center;
}

/*  Sign up finished */
